div {
    animation-name: colorchange;   
    animation-duration: 3.5s; 
    animation-delay: 0s;  
    animation-iteration-count: 2;
    animation-direction: reverse;
    
    height:100px;
    width:0px;
    background-color: pink;
    border-radius: 15px;
}

@keyframes colorchange {
    from { width: 0px; background-color: pink;}
    to { width: 350px; background-color: darkred;}
}
