/* Created by R♡$€☆ */

* {
    margin: 0;
    padding: 0;
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    word-wrap: break-word;
}
button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(187, 71, 255);
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 20;
}
#output {
    position: fixed;
    bottom: 0;
    height: 100vh;
    background: #fff;
    z-index: 13;
    left: 0;
    width: 100%;
    border: none;
    outline: none;
    display: none;
}
