/* Created by Diego Andres Luis */

body {
    background-color: #9a9a9a;
    padding: 10px;
    font-size:8pt;
    font-family: Arial;
}

.tr-op {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
}

.tr-op:hover {
    width: 100px;
    border-radius: 50%;
    border: 1px dashed #000;
    transform: translate(100px, 0) rotate(360deg) rotateY(180deg);
    -webkit-transform:  translate(100px, 0) rotate(360deg) rotateY(180deg);
}

.tr-sk {
    width: 100px;
    height: 100px;
    background-color: #fff;
    transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
}

.tr-sk:hover {
    transform: skew(45deg, 45deg);
    -webkit-transform: skew(45deg, 45deg);
}

.tr-sc {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: repeating-radial-gradient(50% 50%, circle, #000 1px, #00BCD4 5px);
    background: -webkit-repeating-radial-gradient(50% 50%, circle, #000 1px, #00BCD4 5px);
    transition: all 2s linear;
    -webkit-transition: all 2s linear;
}

.tr-sc:hover {
    transform: scale(0) rotate(360deg);
    -webkit-transform: scale(0) rotate(360deg);
}

