/* "common styles for all examples", 
  see URL in html for more
*/ 
body { 
 margin: 1em; 
 font-family: sans-serif;
 background-color: #fffff8; 
} 

h1 { 
 font-size: 150%; 
} 

figure { 
 display: block; 
 background: #cdf;

 width: 90%; 
 max-width: 50em; 
 box-sizing: border-box; 
 margin: 1em auto; 
 padding: 0.5em 1em; 
 border: solid thin navy; 
} 

figure:nth-of-type(2n) { 
 background: #bfc; 
} 

figcaption, figure > div { 
 display: block;
 vertical-align: middle; 
} 

figure > div { 
 text-align: center; 
} 

img, svg, .bg-svg { 
 border: thin dotted darkgrey; 
} 

svg.defs-only { 
 display: block; 
 position: absolute; 
 height: 0; 
 width: 0; 
 
 margin: 0; 
 padding: 0; 
 border: none; 
 overflow: hidden; 
}