body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: repeat-x;
    border: 3px solid limegreen;
}
p {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-repeat: inherit;
    margin-top: 200px;
    padding: 50px;
    border: 1px solid green;
}