div {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: #32CD32;
    transform: rotate(10deg);
    transition: transform 2s;
    
    /*border: 1px dashed crimson;*/
}
div:hover{
    transform: rotate(180deg);
}