body.bg-img {
  background-image: url('http://www.sololearn.com/uploads/css_logo.png'); 
  background-repeat: no-repeat;
  /*background-repeat: no-repeat, repeat;
  is equivakent to no-repeat */
  background-size: contain;
  /* cover; contain;  */
  /*
  background-size: 120px;
   25%;
   250%;  */
   background-position: 50% 100%;
}

div.nosuch-class-turn-off {
    height: 150px;
    width: 200px;
    border: 1px solid #000;
    
    /* A */
    background: url("http://www.sololearn.com/uploads/css_logo.png") no-repeat 50% 50%;
    background-size: cover;
}